body {
    background-color: #ecf0f1;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form h2 {
    margin-bottom: 20px;
}

.form div {
    margin-bottom: 15px;
    text-align: left;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

.form input, .form select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9em;
}

.form input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9em;
}

.form input[type="submit"]:hover {
    background-color: #4cae4c;
}
