body {
    background-color: #ecf0f1;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.menu {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    display: block;
    padding: 10px 20px;
    background-color: #2C3E50;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.menu-item a:hover {
    background-color: #34495e;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width:500px;
    width: 100%;
    margin: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.form div {
    margin-bottom: 15px;
    text-align: left;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input, .form select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.form input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.form input[type="submit"]:hover {
    background-color: #4cae4c;
}

.option.disabled {
    display: none;
}
