body {
    background-color: #ecf0f1;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.menu {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    display: block;
    padding: 10px 20px;
    background-color: #2C3E50;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.menu-item a:hover {
    background-color: #34495e;
}
