body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #2C3E50;
    flex-direction: column;
}

h1 {
    color: #3498DB;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.container-form {
    background-color: #E8F6F3;
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    width: 100%; 
}

.grupo {
    width: 100%;
    margin-bottom: 10px;
}

label {
    display: block;
    color: #2C3E50;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #BDC3C7;
    background-color: #FFFFFF;
    color: #2C3E50;
    font-size: 14px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: 0.3s ease;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3498DB;
    outline: none;
}

input[type="submit"] {
    background-color: #2ECC71;
    color: white;
    border: none;
    padding: 15px 0; 
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #27AE60;
}

.flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
