body {
    background-color: #ecf0f1;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.container-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-form form {
    display: flex;
    flex-direction: column;
}

.grupo {
    margin-bottom: 15px;
}

.grupo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.grupo input, .grupo select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}
