.sidebar {
    background-color: #2C3E50;
    color: white;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.sidebar .logo {
    width: 100%;
    text-align: center;
}

.sidebar .logo .icon {
    font-size: 4em;
}

.sidebar .logo a {
    font-size: 1em;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar nav {
    width: 100%;
}

.sidebar nav h5 {
    font-size: 1.2em;
    color: #ECF0F1;
    padding-bottom: 5px;
    border-bottom: 2px solid #7F8C8D;
    margin-bottom: 10px;
}

.sidebar nav a {
    color: #BDC3C7;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin-bottom: 8px;
}

.sidebar nav a:hover, .sidebar nav a:focus {
    background-color: #3498DB;
    color: white;
}

.toggle-btn {
    background-color: #2C3E50;
    color: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-btn:hover {
    background-color: #3498DB;
    transform: scale(1.05);
}

.products-menu {
    display: none;
    flex-direction: column;
    width: 100%;
}

.products-menu a {
    padding: 10px 20px;
    text-align: center;
}
